<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="pathIdEst" value="C:\Users\dejim\source\repos\Calculo-de-Indice\Sistema de Calculo de Indice\DataManager\Data\idEstudiantes.txt"/>
  <add key="pathIdProf" value="C:\Users\dejim\source\repos\Calculo-de-Indice\Sistema de Calculo de Indice\DataManager\Data\idProfesores.txt"/>
  <add key="pathEstudiantes" value="C:\Users\dejim\Source\Repos\dejimenez21\Calculo-de-Indice\Sistema de Calculo de Indice\DataManager\Data\Estudiantes.json"/>
  <add key="pathProfesores" value="C:\Users\dejim\Source\Repos\dejimenez21\Calculo-de-Indice\Sistema de Calculo de Indice\DataManager\Data\Profesores.json"/>
  <add key="pathCarreras" value="C:\Users\dejim\source\repos\Calculo-de-Indice\Sistema de Calculo de Indice\DataManager\Data\Carreras.json"/>
</appSettings>
</configuration>